:root {
  color: #5b4a4a;
  background-color: #F5F5F5;

  --primary-light:#f8f8f8; 
  --golden-light:#dfd7bf; 
  --golden-dark:#8A7157;
  --golden-dark-black:#3F2305;
  --golden-light-bg: #F2EAD3;
  --golden: #E2BD4F;
  --sans-font: 'Cabin', sans-serif;
}

@font-face {
  font-family: 'Holen Vintage';
  src: url('/src/assets/fonts/HolenVintageRegular.otf');
}

@font-face {
  font-family: 'Starllet';
  src: url('/src/assets/fonts/Starllet\ Regular.ttf');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--sans-font);
}

#app{
  display: flex;
  /* min-height: 100vh; */
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* row-gap: 1rem; */
  margin: auto;
  transition: all 1s ease;
}


.list-menu {
  font-family: var(--sans-font);
  color: var(--golden-dark);
  list-style: none;
  text-align: center;
  letter-spacing: 5px;
  font-weight: 400;
  width: fit-content;
  margin: 2rem auto;
}

.list-menu li {
  cursor: pointer;
  margin: 2rem 0;
}


.wrapper-menu {
    /* position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  */
  margin: auto; 
  background: var(--primary-light);
  border-radius: 10px;
  /* height: fit-content; */
  border: 4px dashed var(--golden-light);
  width: fit-content;
  letter-spacing: 5px;
  margin-bottom: 2rem;
}
.menu {
  min-width: 50vw;
}

.nav > *, .level {
  font-family: var(--sans-font);
  font-weight: 900;
  font-size: 0.75rem;
  padding: 0.65rem 1rem;
  border-radius: 6px;
  background: var(--golden-light-bg);
}

/* text */

.txt {
  font-family: var(--sans-font);
  text-align: center;
  padding: 1rem;
}

.title{
  font-family: 'Holen Vintage';
  font-size: 2rem;
}

.list-menu .title:hover{
  background: none;
}

/* Transition */
.v-enter-active,
.v-leave-active{
  transition: all 1s ease;
}

.boxs-enter-active,
.boxs-leave-active{
  transition: all .5s ease .2s;
}


.v-enter-from,.v-leave-to{
  transform: translateY(-25px);
  opacity: 0;
}


/* Transition Group */
.boxs-enter-active,
.boxs-leave-active {
  transition: all 1s ease 1s;
}
.boxs-enter-from,
.boxs-leave-to {
  opacity: 0;
  transform: translateY(30px);
}